// Foundation overrides
.top-bar {
  background-color: #006fac;
}
.panel {
  max-width: 220px; // Max profile image size, sorta makes stuff ugly
}

// Custom stuff
.panel-profile {
  width: 220px;
  height: 180px;

}
