$menu-push-width: 160px;
$mobile-screen: 480px;
// Custom stuff
body {
  padding-top: 50px;
  background-color: rgb(253, 253, 253);
  color: #111;
  position: relative;
}
.menu-push {
  position: fixed;
  top: 0;
  left: -$menu-push-width;
  width: $menu-push-width;
  height: 100%;
  z-index: 100;

  overflow-y: auto;

  padding-top: 45px;

  background-color: #006fac;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;

  a {
    display: block;
    padding: 0.6em 0.5em;
    color: #fff;
    &:hover {
      font-style: italic;
    }
  }
}
.menu-push-item {
  overflow-x: hidden;
  left: 0;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.menu-timeslots {
  position: absolute;
  left: emCalc(15px);
  top: 50%;
  margin-top: -1.15em;

  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#d6d6d6));
  background-image: -webkit-linear-gradient(top,#fdfdfd,#d6d6d6);
  background-image: -moz-linear-gradient(top,#fdfdfd,#d6d6d6);
  background-image: linear-gradient(top,#fdfdfd,#d6d6d6);
  color: #222;
  line-height: emCalc(35px);
  padding: 0 emCalc(20px);

  border: 1px solid #222;
  border-radius: 2px;

  &:hover {
    background-image: -webkit-linear-gradient(top,#fdfdfd,#c2c2c2);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#c2c2c2));
  }

  &:active {
    background-color: inherit;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  }
}
.btn-img {
    height: 20px;
    width: 20px;
    margin-top: -3px;
}

.talk {
  position: relative;
  padding-bottom: emCalc(40px);
  h2 {
      text-align: center;
      margin-bottom: 0;
  }
  .byline {
      display: block;
      margin-top: 0.38095em;
      margin-bottom: 1.90476em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.2em;
      font-size: 0.9em;
      font-family: "Droid Serif", Georgia, serif;
  }
}

.timeslot {
  text-align: center;
  line-height: 2em;
  background-color: whiteSmoke;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin-bottom: emCalc(10px);
}

.profile {
  text-align: center;
  padding-top: emCalc(10px);
  img {
      width: 220px;
      height: 180px;
  }
}
.colophon {
    text-align: right;
    padding-bottom: 20px;
}

@media #{$medium} {
  .text-col {
    margin: 0 auto;
    max-width: 35em;
  }
}

@media only screen and (max-width: #{$mobile-screen}) {
  .text-col {
    margin: 0 auto;
    width: 310px;
  }
  .top-bar .name h1 {
    text-align: right;
  }
  .parallell-talks {
    max-width: 340px;
    overflow: hidden;
    position: relative;
  }
  .parallell-wrap {
    position: relative;
    overflow: hidden;
    & > div {
      float: left;
      width: 100%;
      position: relative;
    }
  }
  .parallell-article {
    max-width: 310px;
  }
  .parallell-indicator:after {
    content: '→';
    position: absolute;
    right: emCalc(10px);
  }
  .parallell-indicator:before {
    content: '←';
    position: absolute;
    left: emCalc(10px);
  }
}
