/**
 / Iterate blue is #00ac3d
 / Suggestions for colors that fit with this, can be found on
 / http://www.colorhexa.com/006fac
 */

html {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
body {
  font-family: Georgia,serif;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family:"Droid Serif",georgia,serif;
  font-weight:700;
  font-style:italic;
  color:#222;
  text-rendering:optimizeLegibility;
  margin-top:.2em;
  margin-bottom:.5em;
  line-height:1.2125em
}
p {
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: #2795b6;
}
ul, ol, dl {
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
}
.inline-list {
  margin: 0 auto 1.0625em;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.inline-list>li {
  list-style: none;
  float: left;
  margin-left: 1.375em;
  display: block;
}
.inline-list>li>* {
  display: block;
}

#main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  overflow: hidden;

  transition: transform .2s ease-in-out;
  transform: translate3d(0,0,0);

  -webkit-tap-highlight-color: transparent;
}
#main-content {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  overflow: auto;
  overflow-x: hidden;
  background: #fff;
  padding-top: 10px;

  -webkit-overflow-scrolling: touch;
}

/** The top sticky menu **/
#top-menu {
  z-index: 2;
  position: relative;

  width: 100%;
  height: 45px;
  line-height: 45px;
  overflow: visible;

  color: #fff;
  background: #006fac;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
}

#top-menu h1 {
  margin: 0;
  height: 45px;
  line-height: 45px;
  font-size: 1.0625em;
  font-weight: bold;
  text-align: center;
  padding: 0 0.9375em;
}
#top-menu a {
  color: #fff;
  text-decoration: none;
}
.menu-push {
  position: absolute;
  width: 160px;
  height: 100%;

  overflow-x: hidden;

  padding-top: 45px;

  background-color: #006fac;
  transition: all 0.3s ease;
}
.menu-push a {
  display: block;
  padding: 0.6em 0.5em;
  color: #fff;
}
.menu-push a:hover {
  font-style: italic;
}

/** The button to toggle the left menu on small devices **/
.menu-timeslots-btn {
  display: inline;

  float: left;
  height: 45px;
  box-sizing: border-box;
  line-height: 45px;
  font-family: sans-serif;
  font-size: 27px;
  transition: background-color 300ms ease-in-out;
  padding: 0 20px;
  cursor: pointer;
}

.menu-timeslots-btn:hover {
  background-color: #2795b6;
}
.menu-timeslots-btn:after {
  content: '\2261';
}

.mini-schedule-header {
  border-bottom: 2px solid #222;
}
.mini-schedule-row {
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}
.mini-schedule-row p {
  margin-top: 0.2em;
  margin-bottom: 1em;
  word-break: break-word;
}

/** Rules for the talks **/
.talk {
  position: relative;
  padding-bottom: 2.5em;
}
.talk h2 {
    text-align: center;
    margin-bottom: 0;
}
.talk .byline {
    margin-top: 0.38095em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-family: "Droid Serif", Georgia, serif;
}
.talk .text-col {
  max-width: 35em;
  margin: 1.90476em auto 0;
}
.talk .workshop {
  text-align: center;
  margin-top: 0.625em;
  padding: 0.625em;
  background: #006fac;
  color: #fff;
}

.timeslot {
  text-align: center;
  line-height: 2em;
  background-color: whiteSmoke;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin-bottom: 0.625em;
}

.profile {
  text-align: center;
  padding-top: 0.625em;
}
.profile img {
  width: 220px;
  height: 180px;
}

/** Other stuff **/
.colophon {
  text-align: right;
  padding-bottom: 20px;
}
.focused-list {
  padding-left: 2.5em;
}

@media (max-width: 1024px) {
  .parallell-wrap > div {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  #top-menu h1 {
    text-align: right;
  }
  /** Yes, your eyes does not fool you. **/
  .mini-schedule-row .text-right {
    text-align: left !important;
  }
  .mini-schedule-row .text-left {
    text-align: right !important;
  }
  .parallell-talks {
    max-width: 770px;
  }
  .parallell-wrap {
    position: relative;
    overflow: hidden;
  }
  .parallell-wrap > div {
    float: left;
    width: 100%;
    position: relative;
  }
  .parallell-article {
    max-width: 750px;
  }
}
